$blackColor:black;
$whiteColor:white;
$mainColor:rgba(16, 24, 40, 1);
$blueColor:rgba(0, 109, 119, 1);
$grayColor: rgba(152, 162, 179, 1);
$bacColor:rgba(190, 225, 230, 1);
$borderColor:rgba(228, 231, 236, 1);


